@import 'styles/constants.scss';

.container {
  display: flex;
  padding: .5rem;

  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: .5rem;

  border: 2px solid $color-primary;
  border-radius: .5em;

  transition: .3s all ease;
  // overflow: auto;
  cursor: pointer;

  &:hover {
    box-shadow: 3px 3px 5px $color-background-dark;

    & .icon {
      opacity: 1;
    }
  }
}

.heading {
  // width: 12.4375rem;

  word-wrap: break-word;
  text-transform: none;
  user-select: none;
}

.icon {
  display: flex;

  opacity: 0;
  transition: .3s all ease;
}
