@import 'styles/constants.scss';

.big {
  font-size: 1.25rem;
  line-height: 1.45rem;
  color: $color-additional;
}

.small {
  font-size: 1rem;
  line-height: 1.125rem;
  color: $color-additional;
}

.error {
  font-size: 1rem;
  line-height: 1.125rem;
  color: $color-error;
}
