@import 'styles/constants.scss';

.container {
  display: flex;

  padding: .5rem;

  align-items: center;

  &:hover {
    & .heading {
      color: $color-additional;
    }

    & .edit {
      opacity: 1;
    }
  }
}

.form {
  display: flex;

  flex: 1;

  justify-content: space-between;
  align-items: center;
  gap: .5rem;
}

.controls {
  display: flex;

  align-items: center;
  gap: .2rem;
}

.title {
  display: flex;

  align-items: center;
  gap: .5rem;
}

.heading {
  text-transform: none;
  user-select: none;
  transition: .3s all ease;
}

.edit {
  display: flex;

  padding: .6875rem;
  
  background: transparent;
  border-radius: 100%;

  opacity: 0;
  transition: .3s all ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #d1ebf6;
  }
  &:active {
    background-color: #c5e5f3;
  }
}

.confirm,
.reset {
  display: flex;

  padding: 0.6875rem;

  background: transparent;
  border-radius: 100%;

  transition: .3s all ease;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: #d1ebf6;
  }
  &:active {
    background-color: #c5e5f3;
  }
}
