.container {
  display: flex;

  padding: .5rem 1rem;
  // height: calc(100vh - 8.00625rem);

  // flex-direction: column;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;

  overflow-y: hidden;
}
