.course {
  width: 100%;
}

.container {
  display: flex;

  padding-bottom: 5rem;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.text {
  text-align: center;
}
