h1 {
  font-size: 4rem;
  line-height: 4.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;
}

h2 {
  font-size: 2rem;
  line-height: 2.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-primary;
}

h4 {
  font-size: 1.125;
  line-height: 1.25rem;
  font-weight: 400;
  color: $color-additional;
}
