.hero {
  width: 100%;
}

.container {
  display: flex;

  height: calc(100vh - 4.685625rem);

  justify-content: space-between;
  align-items: center;
  gap: 2rem;

  user-select: none;
}

.content {
  display: flex;

  max-width: 40rem;
  width: 100%;

  flex-direction: column;
  justify-self: center;
  align-items: flex-start;
  gap: .75rem;
}

.image img {
  width: 100%;
}
