.container {
  display: flex;

  flex: 1;

  flex-direction: column;
  gap: 1rem;
}

.heading {
  text-transform: none;
  user-select: none;
}

.columns {
  display: flex;

  height: calc(100vh - 13.25625rem);

  gap: 1rem;
}
