@import 'styles/constants.scss';

.container {
  display: flex;

  height: 100%;
  min-width: 17.5rem;
  width: 17.5rem;

  padding: 0.5rem;

  flex-direction: column;
  gap: 1rem;

  // background-color: $color-additional;
  box-shadow: .3125rem .375rem 1rem $color-background-dark;
  border-radius: .5em;
}

.heading {
  text-transform: none;
  user-select: none;
}

.tasks {
  display: flex;

  flex-direction: column;
  gap: .5rem;
}
