$color-primary: #262626;
$color-additional: #666666;
$color-background-dark: #808080;
$color-light: #F5F1EF;

$desktop-width: 1240px;
// $desktop-width: 1208px;
$tablet-width: 768px;
$mobile-width: 414px;
$mobile-small-width: 320px;
