@import 'styles/constants.scss';

.container {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 32px;
  width: 300px;
  margin: auto;
  background: #F5F1EF;
  box-shadow: 5px 6px 60px rgba(128, 128, 128, 0.5);
  border-radius: 16px;
}



