@import 'styles/constants.scss';

.container {
  display: flex;
  position: relative;

  flex-direction: column;
}

.input {
  padding: .75em;

  background: $color-light;

  font-size: .875rem;
  line-height: 1rem;
  color: $color-additional;

  border: .25em solid $color-primary;
  border-radius: .5em;

  &_error {
    border-color: $color-error;
    color: $color-error;

    &::placeholder {
      color: $color-error;
    }
  }

  &:disabled {
    opacity: 50%;
    user-select: none;
    pointer-events: none;
  }
}

.eyeIcon {
  position: absolute;

  top: 12px;
  right: 15px;
}

.errorIcon {
  position: absolute;

  top: 10px;
  right: -30px;

  transition: .3s all ease;
  
  &:hover:after {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease .3s;
  }
  
  &:after {
    position: absolute;
  
    min-width: 9rem;
    padding: .7rem;
    
    background-color: $color-light;    
    
    color: $color-error;
    font-size: 1rem;
    text-align: center;
    
    content: attr(data-title);
    visibility: hidden;
  }
}
