@import 'styles/constants.scss';

.container {
  padding: .3rem 0;
}

.list {
  display: flex;

  gap: .5rem;
}

.item {
  display: flex;

  justify-content: center;
  align-items: center;

  font-size: 1.125rem;
  text-transform: uppercase;

  color: $color-light;
}

.link {
  color: inherit;
}

.name {
  padding: .3rem;

  color: $color-light;
}
