@import 'styles/constants.scss';

.container {
  padding: .3rem;
}

.list {
  display: flex;

  gap: 1rem;
}

.item {
  font-size: 1.125rem;
  text-transform: uppercase;

  color: $color-light;
}

.link {
  color: inherit;
}
