@import 'styles/constants.scss';

.button {
  display: flex;
  padding: 1em;

  justify-content: center;
  align-items: center;

  font-family: 'Glory';
  font-style: normal;
  font-weight: 700;
  font-size: .875rem;
  line-height: 1em;
  border-radius: .5em;

  cursor: pointer;
  transition: .3s all ease;

  &_primary {
    background: $color-primary;
    color: $color-light;

    &:hover{
      background: #313131;
    }
    &:active{
      background: #3f3f3f;
    }
  }

  &_secondary {
    background: $color-additional;
    color: $color-light;

    &:hover{
      background: $color-primary;
    }
    &:active{
      background: #313131;
    }
  }

  &_bordered {
    padding: .75em;
  
    background: $color-light;
    color: $color-primary;
    border: .25em solid $color-primary;

    &:hover{
      background: #e7e5e4;
    }
    &:active{
      background: #dbdad9;
    }
  }

  &_transparent {
    background: transparent;
    color: $color-primary;

    &:hover{
      text-decoration: underline;
    }
  }

  &_big {
    flex: 1;
    width: 100%;
    max-height: 3em;
  }

  &_small {
    max-height: 3em;
  }
  
  &_icon {
    gap: .5em;
  }
}
