@import 'styles/constants.scss';

.header {
  width: 100%;
  
  background-color: $color-primary;
  
  transition: 0.2s;
  
  &_scroll {
    position: fixed;
    background-color: $color-additional;
  }
}

.container {
  display: flex;

  padding: .5rem 1rem;

  align-items: center;
  gap: 1rem;

  transition: 0.2s;

  &_scroll {
    padding: 0 1rem;
  }
}

.link {
  margin-right: auto;
}

.title {
  color: $color-light;
}
