@import 'styles/constants.scss';

.header {
  position: fixed;
  width: 100%;
  
  background-color: $color-primary;
  
  transition: 0.2s;
  
  &_scroll {
    background-color: $color-additional;
  }
}

.container {
  display: flex;

  padding: .5rem 1rem;

  align-items: center;
  gap: .5rem;

  transition: 0.2s;

  &_scroll {
    padding: 0 1rem;
  }
}

.link {
  display: flex;

  margin-right: auto;

  justify-content: center;
  justify-content: center;
  gap: .5rem;
}

.title {
  color: $color-light;
}
