@import 'styles/constants.scss';

.footer {
  background-color: $color-background-dark;
}

.container {
  display: flex;

  padding: .5rem 1rem;

  justify-content: space-between;
  align-items: center;

  @media (max-width: $width-mobile) {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1rem;
  }
}

.githubs {
  display: flex;

  gap: 1.5rem;
}

.github {
  color: $color-light;

  font-size: 1.2rem;
}

.data {
  display: flex;

  min-width: 100px;

  justify-content: end;
  align-items: center;
  gap: .5rem;

  @media (max-width: $width-mobile) {
    justify-content: center;
  }
}

.icon {
  color: $color-light;

  font-size: 24px;
  line-height: 28px;
}

.date {
  color: $color-light;

  font-size: 1.2rem;
}
