@import '../../../styles/constants.scss';

.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0,0%,100%,.7000000000000001);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 100;
}

.createBoardModal {
  position: fixed;
  top: 40%;
  right: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  max-width: 22rem;
  width: 100%;
  padding: 1rem;
  border: 3px solid $color-primary;
  border-radius: 10px;
}

.formTitle {
  text-align: center;
}

.select {
  background: #F5F1EF;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #666666;
  border: 0.25em solid $color-primary;
  border-radius: 0.5em;
  width: 100%;
}

.buttons {
  display: flex;
  column-gap: 1rem;
}
